<!-- Main wrapper-->
<div class="page-wrapper">
  <div class="page-wrapper-inner">

    <!-- Page Content -->
    <div class="content-wrapper pad-none">
      <!-- Page content-inner -->
      <div class="content-inner">
        <!-- section Default-sub-page-Bnr -->
        <section class="default-sub-page-bnr ">
          <div class="container">
            <!--  start page-Bnr -->
            <div class="page-bnr">
              <!--  img-page-Bnr -->
              <div class="bnr-img"></div>
              <!--  end-page-Bnr -->
              <div class="bnr-title">
                <h5 class=" display-medium"> {{ 'investing_page.title' | translate }}</h5>
              </div>



                <div class="content-page">
                  <h5>{{ 'investing_page.section_1.title' | translate }}</h5>
                  <p>{{ 'investing_page.section_1.overview' | translate }}</p>
                  <ul class="tw-list-disc tw-list-inside tw-ms-4">
                    <li>{{ 'investing_page.section_1.point_1' | translate }}</li>
                    <li>{{ 'investing_page.section_1.point_2' | translate }}</li>
                    <li>{{ 'investing_page.section_1.point_3' | translate }}</li>
                    <li>{{ 'investing_page.section_1.point_4' | translate }}</li>
                    <li>{{ 'investing_page.section_1.point_5' | translate }}</li>
                  </ul>
                </div>

                  <div class="content-page ">
                    <h5>{{ 'investing_page.section_2.title' | translate }}</h5>

                    <div class="tw-grid tw-grid-cols-1 md:tw-grid-cols-3 tw-gap-4">
                    <p class="tw-col-span-1 md:tw-col-span-2">{{ 'investing_page.section_2.overview' | translate }}</p>
                    <div class="right-sec tw-self-start">
                      <!-- start pdf-download-->
                      <div class="pdf-download tw-grid tw-grid-rows-2 tw-grid-flow-col tw-gap-1 tw-px-0 md:tw-px-6 tw-overflow-hidden">
                        <div class="tw-row-span-2"><i class="fa fa-file-pdf-o fa-3x"></i></div>
                        <div class="tw-col-span-4 "><a href="https://www.dha.gov.ae/uploads/022022/Dubai Health Investment Guide en2022221649.pdf" class="">{{ 'investing_page.section_2.InvestmentGuide' | translate }}</a></div>
                        <div class="tw-row-span-1 tw-col-span-4">140 KB / PDF</div>
                      </div>
                      <!-- end pdf-download-->
                    </div>
                  </div>
                </div>
                    <h5>{{ 'investing_page.Investment_Focus' | translate }}</h5>
                    <p>{{ 'investing_page.Investment_Focus_desc' | translate }}</p>
                    <h5>{{ 'investing_page.Focus_next' | translate }}</h5>
                    <p>{{ 'investing_page.Focus_next' | translate }}</p>
                    <h6>{{ 'investing_page.continuum' | translate }}</h6>
                    <ul class="tw-list-disc tw-list-inside tw-ms-4">
                      <li>{{ 'investing_page.object1.point_1' | translate }}</li>
                      <li>{{ 'investing_page.object1.point_2' | translate }}</li>
                      <li>{{ 'investing_page.object1.point_3' | translate }}</li>
                      <li>{{ 'investing_page.object1.point_4' | translate }}</li>
                      <li>{{ 'investing_page.object1.point_5' | translate }}</li>
                    </ul>
                    <h6>{{ 'investing_page.evolution' | translate }}</h6>
                    <ul class="tw-list-disc tw-list-inside tw-ms-4">
                      <li>{{ 'investing_page.object2.point_1' | translate }}</li>
                      <li>{{ 'investing_page.object2.point_2' | translate }}</li>
                      <li>{{ 'investing_page.object2.point_3' | translate }}</li>
                      <li>{{ 'investing_page.object2.point_4' | translate }}</li>
                      <li>{{ 'investing_page.object2.point_5' | translate }}</li>
                    </ul>
                    <h6>{{ 'investing_page.Focus_areas' | translate }}</h6>
                    <ul class="tw-list-disc tw-list-inside tw-ms-4">
                      <li>{{ 'investing_page.object3.point_1' | translate }}</li>
                      <li>{{ 'investing_page.object3.point_2' | translate }}</li>
                      <li>{{ 'investing_page.object3.point_3' | translate }}</li>
                      <li>{{ 'investing_page.object3.point_4' | translate }}</li>
                    </ul>
                  </div>




            <!--  end page-Bnr -->
            <!--  start card section -->

          </div>
        </section>
        <!-- section content-inner -->


      </div>
      <!-- content-inner -->
    </div>
  </div>
  <!-- .page-wrapper-inner -->
</div>
<!--page-wrapper-->
