<!-- Main wrapper-->
<div class="page-wrapper">
  <div class="page-wrapper-inner">

    <!-- Page Content -->
    <div class="content-wrapper pad-none">
      <!-- Page content-inner -->
      <div class="content-inner">
        <!-- section Default-sub-page-Bnr -->
        <section class="default-sub-page-bnr ">
          <div class="container">
            <!--  start page-Bnr -->
            <div class="page-bnr">
              <!--  img-page-Bnr -->
              <div class="bnr-img"></div>
              <!--  end-page-Bnr -->
              <div class="bnr-title">
                <h5 class=" display-medium">{{ 'wellness_page.title' | translate }} </h5>
                <P>{{ 'wellness_page.experience' | translate }}</P>
              </div>

              <div class="tw-grid tw-grid-cols-1 md:tw-grid-cols-2 lg:tw-grid-cols-3 tw-gap-6 tw-items-start">
                <!-- start overview-->
                <div class="overview tw-col-span-1 lg:tw-col-span-2">
                  <p>
                    {{ 'wellness_page.dubai_aims' | translate }}
                  </p>
                </div>
                <!-- end overview-->
                <div class="tw-col-span-1">
                  <div class="view-spec tw-text-white">{{ 'wellness_page.wellness_partners' | translate }}</div>
                </div>
              </div>

              <!-- start grid card-->
              <div class="tw-flex tw-flex-wrap  tw-justify-center tw-gap-3">


                <!-- start card-->
                <div class="tw-max-w-[372px] tw-rounded tw-overflow-hidden tw-shadow-lg">
                  <img class="tw-w-full" src="/assets/images/bg/bg-1.jpg" alt="Sunset in the mountains">
                  <div class="tw-px-6 tw-py-4">
                    <div class="tw-font-bold tw-text-xl tw-mb-2"> {{ 'wellness_page.images.img_1.title' | translate }}</div>
                    <p class="tw-text-gray-700 tw-text-base">
                      {{ 'wellness_page.images.img_1.desc' | translate }}
                    </p>
                  </div>
                </div>
                <!-- end card-->

                <!-- start card-->
                <div class="tw-max-w-[372px] tw-rounded tw-overflow-hidden tw-shadow-lg">
                  <img class="tw-w-full" src="/assets/images/bg/bg-1.jpg" alt="Sunset in the mountains">
                  <div class="tw-px-6 tw-py-4">
                    <div class="tw-font-bold tw-text-xl tw-mb-2">{{ 'wellness_page.images.img_2.title' | translate }}</div>
                    <p class="tw-text-gray-700 tw-text-base">
                      {{ 'wellness_page.images.img_2.desc' | translate }}
                    </p>
                  </div>
                </div>
                <!-- end card-->

                <!-- start card-->
                <div class="tw-max-w-[372px] tw-rounded tw-overflow-hidden tw-shadow-lg">
                  <img class="tw-w-full" src="/assets/images/bg/bg-1.jpg" alt="Sunset in the mountains">
                  <div class="tw-px-6 tw-py-4">
                    <div class="tw-font-bold tw-text-xl tw-mb-2">{{ 'wellness_page.images.img_3.title' | translate }}</div>
                    <p class="tw-text-gray-700 tw-text-base">
                      {{ 'wellness_page.images.img_3.desc' | translate }}
                    </p>
                  </div>
                </div>
                <!-- end card-->


              </div>
              <!-- end grid card-->

            </div>
            <!--  end page-Bnr -->
            <!--  start card section -->

          </div>
        </section>
        <!-- section content-inner -->


      </div>
      <!-- content-inner -->
    </div>
  </div>
  <!-- .page-wrapper-inner -->
</div>
<!--page-wrapper-->

