<!-- Main wrapper-->
<div class="page-wrapper">
  <div class="page-wrapper-inner">

    <!-- Page Content -->
    <div class="content-wrapper pad-none">
      <!-- Page content-inner -->
      <div class="content-inner">
        <!-- section Default-sub-page-Bnr -->
        <section class="default-sub-page-bnr-">
          <div class="container">
            <!--  start page-Bnr -->
            <div class="page-bnr">
              <!--  img-page-Bnr -->
              <div class="bnr-img"></div>
              <!--  end-page-Bnr -->
              <div class="bnr-title display-medium tw-mb-10">Covid-19</div>
            </div>
            <!--  end page-Bnr -->
            <!--  start card section -->

            <div
              class="covd-card tw-grid tw-grid-cols-1 lg:tw-grid-cols-2 tw-gap-6 tw-content-center">
              <div class="tw-py-6">
                <img src="assets/images/covid.png" class alt="about-img">
              </div>
              <div class="desc-sec tw-self-center">

             <div class="tw-grid tw-grid-flow-row tw-gap-8">
              <div class="desc">
                <h2>Dubai Challenge: The COVID-19 Challenge </h2>
                <p>Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a
                  type specimen book. It has survived not only five centuries,
                  but also the leap into electronic typesetting, remaining
                  essentially unchanged.</p>
              </div>
              <div class=" tw-grid tw-grid-cols-2 tw-items-center tw-gap-2 tw-px-2 md:tw-px-5 md:tw-gap-4 tw-py-1 ">
                <div class="tw-grid tw-grid-rows-2 tw-grid-flow-col tw-gap-1 tw-px-0 md:tw-px-6">
                  <div class="tw-row-span-2"><i class="fa fa-file-pdf-o fa-3x"></i></div>
                  <div class="tw-col-span-4 ">DXH Brochure</div>
                  <div class="tw-row-span-1 tw-col-span-4">140 KB / PDF</div>
                </div>
                <!-- ... -->
                <div class="bitt  tw-p-4"><p class="tw-text-center tw-m-0">View Online</p></div>
              </div>
             </div>

              </div>
            </div>

          </div>
        </section>
        <!-- section content-inner -->

      </div>
      <!-- content-inner -->
    </div>
  </div>
  <!-- .page-wrapper-inner -->
</div>
<!--page-wrapper-->
