<!-- Main wrapper-->
<div class="page-wrapper">
  <div class="page-wrapper-inner">

    <!-- Page Content -->
    <div class="content-wrapper pad-none">
      <div class="content-inner">
        <!-- Testimonial Section -->
        <section class="margin-bottom-110">
          <div class="container">
            <div class="events-wrapper relative">
              <div class="progresses " #eventsWrapper [style.width.px]="eventsWrapperWidth">
                <div class="start"></div>
                <div class="steps relative" (click)="onEventClick(0)" [ngClass]="{'public-color-background': selectedElement[0],'public-border-color':selectedIndex>=0}">
                  <div class="progress-date" [ngClass]="{'public-color':  selectedIndex>=0}">2001</div>
                  <div class="pipe" [ngClass]="{'public-color-background': selectedIndex>=0}"></div>
                </div>
                <div class="line relative" [ngClass]="{'public-color-background': selectedIndex>0}">
            </div>
                <div class="steps relative" (click)="onEventClick(1)" [ngClass]="{' public-color-background': selectedElement[1],'public-border-color':selectedIndex>=1}">
                  <div class="progress-date" [ngClass]="{'public-color': selectedIndex>=1}">2002</div>
                  <div class="pipe" [ngClass]="{'public-color-background': selectedIndex>=1}"></div>
                </div>
                <div class="line relative" [ngClass]="{'public-color-background': selectedIndex>1}">
            </div>
                <div class="steps relative" (click)="onEventClick(2)" [ngClass]="{' public-color-background': selectedElement[2],'public-border-color':selectedIndex>=2}">
                  <div class="progress-date" [ngClass]="{'public-color': selectedIndex>=2}">2003</div>
                  <div class="pipe" [ngClass]="{'public-color-background': selectedIndex>=2}"></div>
                </div>
                <div class="line relative" [ngClass]="{'public-color-background': selectedIndex>2}">
            </div>
                <div class="steps relative" (click)="onEventClick(3)" [ngClass]="{' public-color-background': selectedElement[3],'public-border-color':selectedIndex>=3}">
                  <div class="progress-date" [ngClass]="{'public-color': selectedIndex>=3}">2004</div>
                  <div class="pipe" [ngClass]="{'public-color-background': selectedIndex>=3}"></div>
                </div>
                <div class="line relative" [ngClass]="{'public-color-background': selectedIndex>3}">
                  <!-- end text-center -->
                 </div>
                <div class="steps relative" (click)="onEventClick(4)" [ngClass]="{'public-color-background': selectedElement[4],'public-border-color':selectedIndex>=4}">
                  <div class="progress-date" [ngClass]="{'public-color': selectedIndex>=4}">2005</div>
                  <div class="pipe" [ngClass]="{'public-color-background': selectedIndex>=4}"></div>
                </div>
                <div class="line relative" [ngClass]="{'public-color-background': selectedIndex>4}">
                 </div>
                <div class="steps relative" (click)="onEventClick(5)" [ngClass]="{' public-color-background': selectedElement[5],'public-border-color':selectedIndex>=5}">
                  <div class="progress-date" [ngClass]="{'public-color': selectedIndex>=5}">2006</div>
                  <div class="pipe" [ngClass]="{'public-color-background': selectedIndex>=5}"></div>
                </div>
                <div class="line relative" [ngClass]="{'public-color-background': selectedIndex>5}">
                 </div>
                <div class="steps relative" (click)="onEventClick(6)" [ngClass]="{' public-color-background': selectedElement[6],'public-border-color':selectedIndex>=6}">
                  <div class="progress-date" [ngClass]="{'public-color': selectedIndex>=6}">2007</div>
                  <div class="pipe" [ngClass]="{'public-color-background': selectedIndex>=6}"></div>
                </div>
                <div class="line relative" [ngClass]="{'public-color-background': selectedIndex>6}">
                 </div>
                <div class="steps relative" (click)="onEventClick(7)" [ngClass]="{' public-color-background': selectedElement[7],'public-border-color':selectedIndex>=7}">
                  <div class="progress-date" [ngClass]="{'public-color': selectedIndex>=7}">2008</div>
                  <div class="pipe" [ngClass]="{'public-color-background': selectedIndex>=7}"></div>
                </div>
                <div class="line relative" [ngClass]="{'public-color-background': selectedIndex>7}">
                 </div>
                <div class="steps relative" (click)="onEventClick(8)" [ngClass]="{' public-color-background': selectedElement[8],'public-border-color':selectedIndex>=8}">
                  <div class="progress-date" [ngClass]="{'public-color': selectedIndex>=8}">2009</div>
                  <div class="pipe" [ngClass]="{'public-color-background': selectedIndex>=8}"></div>
                </div>
                <div class="line relative" [ngClass]="{'public-color-background': selectedIndex>8}">
                 </div>
                <div class="steps relative" (click)="onEventClick(9)" [ngClass]="{'public-color-background': selectedElement[9],'public-border-color':selectedIndex>=9}">
                  <div class="progress-date" [ngClass]="{'public-color': selectedIndex>=9}">2010</div>
                  <div class="pipe" [ngClass]="{'public-color-background': selectedIndex>=9}"></div>
                </div>
                <div class="end"></div>

              </div>
              <ul class="cd-timeline-navigation">
                <li>
                  <a href="#" (click)="onScrollClick($event, false)" class="prev" [ngClass]="{'inactive':prevLinkInactive}">Prev</a>
                </li>
                <li>
                  <a href="#" (click)="onScrollClick($event, true)" class="next" [ngClass]="{'inactive':nextLinkInactive}">Next</a>
                </li>
              </ul>
            </div>
          </div>
          <!-- Container -->
        </section>
        <!-- Testimonial Section End -->


      </div>
    </div>
  </div>
  <!-- .page-wrapper-inner -->
</div>
<!--page-wrapper-->






