<!-- Main wrapper-->
<div class="page-wrapper">
  <div class="page-wrapper-inner">

    <!-- Page Content -->
    <div class="content-wrapper pad-none">
      <div class="content-inner">
        <!-- Testimonial Section -->
        <section class="margin-bottom-110 margin-top-125">
          <div class="container">
            <div class="container margin-bottom-110 d-flex justify-content-center align-items-center">
              <div class="progresses margin-bottom-100">
                <div class="steps ">
                  <i class="ti-angle-left" ></i>
                </div>
                <span class="start"></span>

                <div class="steps relative">
                  <div class="progress-date">1999</div>
                  <div class="pipe public-color"></div>
                </div>
                <span class="line  dha-color relative">
              <!-- start text-center -->
              <div class="progress-data text-center">
              		<div class="f-box-inner div-bg-img b-radius-20" data-bg="images/bg/ft-bg1.jpg">
											<div class="feature-content mb-4">
												<div class="feature-title">
													<h5 class="margin-bottom-10">1st Health centre opened in  AL Ras</h5>
												</div>
												<p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                           <div class="feature-title">
													<h5 class="margin-top-10">30 Bed</h5>
												</div>
											</div>
										</div>
            </div>
                  <!-- end text-center -->
            </span>
                <div class="steps relative">
                  <div class="progress-date">1951</div>
                  <div class="pipe"></div>
                </div>
                <span class="line relative ">
                <!-- start text-center -->
              <div class="progress-data text-center">
              		<div class="f-box-inner div-bg-img b-radius-20" data-bg="images/bg/ft-bg1.jpg">
											<div class="feature-content mb-4">
												<div class="feature-title">
													<h5 class="margin-bottom-10">AL Maktoum Hospital</h5>
												</div>
												<p class="mb-0"></p>
                           <div class="feature-title">
													<h5 class=" margin-top-10">157 Bed</h5>
												</div>
											</div>
										</div>
            </div>
                  <!-- end text-center -->
            </span>

                <div class="steps relative">
                  <div class="progress-date">1973</div>
                  <div class="pipe"></div>
                </div>
                <span class="line relative">
               <!-- start text-center -->
              <div class="progress-data text-center">
              		<div class="f-box-inner div-bg-img b-radius-20" data-bg="images/bg/ft-bg1.jpg">
											<div class="feature-content mb-4">
												<div class="feature-title">
													<h5 class="margin-bottom-10">DHOMS</h5>
												</div>
												<p class="mb-0"></p>
											</div>
										</div>
            </div>
                  <!-- end text-center -->
            </span>
                <div class="steps relative">
                  <div class="progress-date">1983</div>
                  <div class="pipe"></div>
                </div>
                <span class="line relative">
              <!-- start text-center -->
              <div class="progress-data text-center">
              		<div class="f-box-inner div-bg-img b-radius-20" data-bg="images/bg/ft-bg1.jpg">
											<div class="feature-content mb-4">
												<div class="feature-title">
													<h5 class="margin-bottom-10">Dubai Hospital</h5>
												</div>
												<p class="mb-0">Opened</p>
                          <div class="feature-title">
													<h5 class=" margin-top-10">625 Bed</h5>
												</div>
											</div>
										</div>
            </div>
                  <!-- end text-center -->
            </span>

                <div class="steps relative">
                  <div class="progress-date">1986</div>
                  <div class="pipe"></div>
                </div>

                <span class="line relative">
              <!-- start text-center -->
              <div class="progress-data text-center">
              		<div class="f-box-inner div-bg-img b-radius-20" data-bg="images/bg/ft-bg1.jpg">
											<div class="feature-content mb-4">
												<div class="feature-title">
													<h5 class="margin-bottom-10">1st Private Hospital</h5>
												</div>
												<p class="mb-0">Established</p>
											</div>
										</div>
            </div>
                  <!-- end text-center -->
            </span>

                <div class="steps relative">
                  <div class="progress-date">2000</div>
                  <div class="pipe"></div>
                </div>
                <span class="end"></span>
                <div class="steps ">
                <i class="ti-angle-right" ></i>
                </div>
              </div>

            </div>
          </div>
          <!-- Container -->
        </section>
        <!-- Testimonial Section End -->


      </div>
    </div>
  </div>
  <!-- .page-wrapper-inner -->
</div>
<!--page-wrapper-->






