<!-- Main wrapper-->
<div class="page-wrapper">
  <div class="page-wrapper-inner">

    <!-- Page Content -->
    <div class="content-wrapper pad-none">
      <!-- Page content-inner -->
      <div class="content-inner">
        <!-- section Default-sub-page-Bnr -->
        <section class="default-sub-page-bnr-">
          <div class="container">
            <!--  start page-Bnr -->
            <div class="page-bnr">
              <!--  img-page-Bnr -->
              <div class="bnr-img"></div>
              <!--  end-page-Bnr -->
              <div class="bnr-title display-medium">Government Insurance Services</div>
            </div>
            <!--  end page-Bnr -->
            <!--  start main-overview -->
            <div class="main-overview margin-top-40">
              <div class="row gx-5">
                <div class=" col-md-8 mb-4 mb-md-0">
                  <!-- Media -->
                  <div class="media">
                    <div class="media-body">
                      <div class="feature-content">
                        <div class="feature-box-content">
                          <p class="mb-0 paragraph-medium-regular">The Emirate of Dubai has unified all government health insurance systems under one umbrella, which is the unified health insurance system “Enaya”, which is for citizens of the Emirate of Dubai, Dubai government employees and their families. This transformation aims to surround insurance beneficiaries with one integrated, more advanced system and enable them to obtain high-quality medical services and high-level health care. The unified government health insurance system provides the required medical services on a large scale, and beneficiaries of the unified system can benefit from those services provided.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Media -->
                </div>
                <div class=" col-md-4">
                  <!-- nav-content -->
                  <div class="nav-content LeftBar">
                    <!-- Media -->
                    <div class="media">
                      <div class="feature-list-icon me-4 align-self-center">
                        <span class="fa fa-file-pdf-o theme-color fa-3x"></span>
                      </div>
                      <div class="media-body">
                        <div class="feature-content">
                          <div class="feature-title">
                            <h6 class="mb-1 heading-h6-medium">Enaya Beneficiary Guide</h6>
                          </div>
                          <div class="feature-box-content">
                            <p class="mb-0">140 KB / PDF</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Media -->
                  </div>
                  <!-- nav-content -->
                </div>
              </div>
            </div>
            <!--  end main -->

            <!--  start service-desc -->
            <div class="service-desc margin-top-40">
              <!--  start row -->
              <div class="row  align-items-center">
                <!-- col service-img -->
                <div class=" col-md-4 mb-4 mb-md-0">
                  <!-- service-img -->
                  <div class="service-img">
                    <div class="about-wrap-inner">
                      <!-- about details -->
                      <div class="about-wrap-details">
                        <!-- about button -->
                        <div class="text-center">
                          <div class="about-img mb-4 mb-md-0">
                            <img src="assets/images/enaya.png" class="" alt="about-img">
                          </div>
                          <!-- .col -->
                        </div>
                      </div>
                      <!-- about details End-->
                    </div>
                  </div>
                  <!-- service-img -->
                </div>
                <!--end  col service-img -->
                <div class="col-md-8 ">
                  <div class="service-desc">
                    <!-- Media -->
                    <div class="media">
                      <div class="media-body">
                        <div class="feature-content">
                          <div class="feature-box-title">
                            <h5 class="heading-h5-bold">Unifying government insurance program “Enaya”</h5>
                          </div>
                          <div class="feature-box-content">
                            <p class="mb-0 paragraph-medium-regular">The unified health insurance system “Enaya”, which included “Saada” insurance, and other government insurances. This transformation aims to surround insurance beneficiaries with one integrated, more advanced system, and enable them to obtain high-quality medical services and high-level health care.
                              The unified government health insurance system provides the required medical services on a large scale, through the “Neuron” and “Umbrella” companies.</p>
                          </div>
                          <div class="feature-box-content service-footer margin-top-15 ">
                            <p class="mb-0 paragraph-medium-regular">Beneficiaries of the unified system can visit the Human Resources Department at their employer, or directly contact the Dubai Health Authority to obtain more information. </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Media -->
                  </div>
                </div>
              </div>
              <!--  end row -->
            </div>
            <!--  end service-desc -->
          </div>
        </section>
        <!-- section content-inner -->

      </div>
      <!-- content-inner -->
    </div>
  </div>
  <!-- .page-wrapper-inner -->
</div>
<!--page-wrapper-->







