<!-- Main wrapper-->
<div class="page-wrapper">
  <div class="page-wrapper-inner">

    <!-- Page Content -->
    <div class="content-wrapper pad-none">
      <!-- Page content-inner -->
      <div class="content-inner">
        <!-- section Default-sub-page-Bnr -->
        <section class="default-sub-page-bnr pad-bottom-none">
          <div class="container">
            <!--  start page-Bnr -->
            <div class="page-bnr">
              <!--  img-page-Bnr -->
              <div class="bnr-img"></div>
              <!--  end-page-Bnr -->
              <div class="bnr-title display-medium tw-mb-10">Occupational Health</div>
            </div>
            <!--  end page-Bnr -->
            <!--  start card section -->

            <div
              class="covd-card tw-grid tw-grid-cols-1 md:tw-grid-cols-3 tw-gap-8 ">
              <div
                class="tw-bg-cover img-card tw-py-6 tw-col-span-1 tw-h-[351px]">
              </div>
              <div class="desc-sec tw-col-span-1 md:tw-col-span-2">
                <div class="tw-grid tw-grid-rows-1  tw-gap-4">
                  <div>
                    <h3>About Occupational Health </h3>
                    <p>Occupational health is an area of work in public health
                      to promote and maintain the highest degree of physical,
                      mental, and social well-being of workers in all
                      occupations. </p>
                    <h6>Occupational Health Objectives </h6>
                  </div>

                  <div>
                    <ul class="tw-columns-2 tw-p-0">
                      <li class="bg-gray-200">
                        <p class="tw-m-0"><i
                            class="fa fa-angle-right tw-pr-2 rtl:tw-rotate-180"></i>Maintain
                          and promote
                          workers' health and working wellbeing.
                        </p></li>
                      <li class="bg-gray-200">
                        <p class="tw-m-0"><i
                            class="fa fa-angle-right tw-pr-2 rtl:tw-rotate-180"></i>Maintain
                          and promote
                          workers' health and working wellbeing.
                        </p></li>
                      <li class="bg-gray-200">
                        <p class="tw-m-0"><i
                            class="fa fa-angle-right tw-pr-2 rtl:tw-rotate-180"></i>Maintain
                          and promote
                          workers' health and working wellbeing.
                        </p></li>
                      <li class="bg-gray-200">
                        <p class="tw-m-0"><i
                            class="fa fa-angle-right tw-pr-2 rtl:tw-rotate-180"></i>Maintain
                          and promote
                          workers' health and working wellbeing.
                        </p></li>
                      <li class="bg-gray-200">
                        <p class="tw-m-0"><i
                            class="fa fa-angle-right tw-pr-2 rtl:tw-rotate-180"></i>Maintain
                          and promote
                          workers' health and working wellbeing.
                        </p></li>
                      <li class="bg-gray-200">
                        <p class="tw-m-0"><i
                            class="fa fa-angle-right tw-pr-2 rtl:tw-rotate-180"></i>Maintain
                          and promote
                          workers' health and working wellbeing.
                        </p></li>
                      <li class="bg-gray-200">
                        <p class="tw-m-0"><i
                            class="fa fa-angle-right tw-pr-2 rtl:tw-rotate-180"></i>Maintain
                          and promote
                          workers' health and working wellbeing.
                        </p></li>
                      <li class="bg-gray-200">
                        <p class="tw-m-0"><i
                            class="fa fa-angle-right tw-pr-2 rtl:tw-rotate-180"></i>Maintain
                          and promote
                          workers' health and working wellbeing.
                        </p></li>

                    </ul>

                  </div>

                </div>
              </div>
            </div>

          </div>
        </section>
        <!-- section content-inner -->

        <section class="pad-top-45">
          <!-- start container -->
          <div class="container">
            <!-- Accordion Begins -->
            <div class="accordion" id="accordion233">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <a class="accordion-button " type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseFive"
                    aria-expanded="true" aria-controls="collapseFive">Consectetur
                    adipisicing elit sed do eiusmod tempor incididunt?</a>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse "
                  aria-labelledby="headingOne" >
                  <div class="accordion-body">
                    Donec tellus massa, tristique sit amet condim vel, facilisis
                    quis sapien. Praesent id enim sit. Curabitur nec posuere
                    odio ultrices non pretium ac.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <a class="accordion-button collapsed" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseSix"
                    aria-expanded="false" aria-controls="collapseSix">Adipisicing
                    elit sed do eiusmod incididunt?</a>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse"
                  aria-labelledby="headingTwo">
                  <div class="accordion-body">
                    Donec tellus massa, tristique sit amet condim vel, facilisis
                    quis sapien. Praesent id enim sit. Curabitur nec posuere
                    odio ultrices non pretium ac.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <a class="accordion-button collapsed" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseSeven"
                    aria-expanded="false" aria-controls="collapseSeven">Donec
                    tellus massa tristique sit amet condim vel facilisis quis?</a>
                </h2>
                <div id="collapseSeven" class="accordion-collapse collapse"
                  aria-labelledby="headingThree" >
                  <div class="accordion-body">
                    Donec tellus massa, tristique sit amet condim vel, facilisis
                    quis sapien. Praesent id enim sit. Curabitur nec posuere
                    odio ultrices non pretium ac.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <a class="accordion-button collapsed" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseEight"
                    aria-expanded="false" aria-controls="collapseEight">Consectetur
                    adipisicing elit sed do eiusmod tempor incididunt?</a>
                </h2>
                <div id="collapseEight" class="accordion-collapse collapse"
                  aria-labelledby="headingThree" >
                  <div class="accordion-body">
                    Donec tellus massa, tristique sit amet condim vel, facilisis
                    quis sapien. Praesent id enim sit. Curabitur nec posuere
                    odio ultrices non pretium ac.
                  </div>
                </div>
              </div>
            </div>
            <!-- Accordion Ends -->

          </div>
          <!-- end container -->
        </section>

      </div>
      <!-- content-inner -->
    </div>
  </div>
  <!-- .page-wrapper-inner -->
</div>
<!--page-wrapper-->
