<!-- Main wrapper-->
<div class="page-wrapper">
  <div class="page-wrapper-inner">

    <!-- Page Content -->
    <div class="content-wrapper pad-none">
      <!-- Page content-inner -->
      <div class="content-inner">
        <!-- section Default-sub-page-Bnr -->
        <section class="default-sub-page-bnr-">
          <div class="container">

            <!--  start page-Bnr -->
            <div class="page-bnr">
              <!--  img-page-Bnr -->
              <div class="bnr-img"></div>
              <!--  end-page-Bnr -->
              <div class="bnr-title display-medium">About Dubai Health Insurance</div>
            </div>
            <!--  end page-Bnr -->
            <!--  start main-overview -->
            <div class="main-overview margin-top-40">
               <div class="row">
                 <div class=" col-md-8 mb-4 mb-md-0">
                   <!-- Media -->
                   <div class="media">
                     <div class="media-body">
                       <div class="feature-content">
                         <div class="feature-box-title">
                           <h3 class="heading-h3-medium">Overview</h3>
                         </div>
                         <div class="feature-box-content">
                           <p class="mb-0 paragraph-medium-regular">Dubai Health Insurance Corporation is an institution affiliated with the Dubai Health Authority, in accordance with Resolution No. (18) of 2018, issued by His Highness Sheikh Hamdan bin Mohammed bin Rashid Al Maktoum, Crown Prince of Dubai, Chairman of the Executive Council, regarding the approval of the authority’s organizational structure. The Corporation is responsible for managing and supervising health insurance in the Emirate of Dubai, in accordance with applicable legislation, and ensuring its provision for citizens, residents and visitors. </p>
                         </div>
                       </div>
                     </div>
                   </div>
                   <!-- Media -->
                 </div>
                 <div class="LeftBar  col-md-4">
                   <div></div>
                 </div>
               </div>
            </div>
            <!--  end main -->
          </div>
        </section>
        <!-- section content-inner -->

      </div>
      <!-- content-inner -->
    </div>
  </div>
  <!-- .page-wrapper-inner -->
</div>
<!--page-wrapper-->






