<!--Zmm Wrapper-->
<div class="zmm-wrapper">
  <a href="#" class="zmm-close close"></a>
  <div class="zmm-inner bg-white typo-dark">
    <div class="text-center mobile-logo-part margin-bottom-30">
      <a href="index.html" class="img-before"><img src="/assets/images/logo-dark.png" class="img-fluid changeable-dark"
                                                   width="115" height="50" alt="Logo"></a>
    </div>
    <div class="zmm-main-nav">
    </div>
    <div class="search-form-wrapper margin-top-30">
      <form class="search-form" role="search">
        <div class="input-group add-on">
          <input class="form-control" placeholder="Search for.." name="srch-term" type="text">
          <div class="input-group-btn">
            <button class="btn btn-default search-btn" type="submit"><i class="ti-arrow-right"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Overlay Search -->
<div class="overlay-search text-center hide">
  <a href="#" class="close close-light overlay-search-close"></a>
  <div class="search-form-wrapper">
    <form class="navbar-form search-form sliding-search-form" role="search">
      <div class="input-group add-on">
        <input class="form-control" placeholder="Search for.." name="srch-term" type="text">
        <div class="input-group-btn">
          <button class="btn btn-default search-btn" type="submit"><i class="ti-arrow-right"></i></button>
        </div>
      </div>
    </form>
  </div>
</div>

<header>
  <!--Mobile Header-->
  <div class="mobile-header bg-white typo-dark">
    <div class="mobile-header-inner">
      <div class="sticky-outer">
        <div class="sticky-head">
          <div class="basic-container clearfix">
            <ul class="nav mobile-header-items pull-left">
              <li class="nav-item"><a href="#" class="zmm-toggle img-before"><i class="ti-menu"></i></a></li>
            </ul>
            <ul class="nav mobile-header-items pull-center">
              <li>
                <a href="index.html" class="img-before"><img src="/assets/images/logo-dark.png" class="img-fluid"
                                                             width="103" height="45" alt="Logo"></a>
              </li>
            </ul>
            <ul class="nav mobile-header-items pull-right">
              <li class="nav-item"><a href="#" class="img-before overlay-search-switch"><i
                class="icon-magnifier icons"></i></a></li>
            </ul>
          </div>
          <!-- .basic-container -->
        </div>
        <!-- .sticky-head -->
      </div>
      <!-- .sticky-outer -->
    </div>
    <!-- .mobile-header-inner -->
  </div>
  <!-- .mobile-header -->
  <!--Header-->
  <div class="header-inner header-5">
    <!--Logobar-->
    <div class="logobar">
      <div class="basic-container clearfix">
        <div class="logobar-inner">
          <!--Logobar Left Item-->
          <ul class="nav logobar-items pull-left">
            <li>
              <a href="index.html" class="logo-general"><img src="/assets/images/logo-dark.png" class="img-fluid"
                                                             width="149" height="42" alt="Logo"/></a>
            </li>
          </ul>
          <!--Logobar Right Item-->
          <ul class="nav logobar-items pull-right">
            <!--Nav Item-->
            <li class="nav-item me-4">
              <!--Media-->
              <div class="media header-info d-inline-block lh-1 align-middle">
											<span class="header-icon theme-color">
												<i class="ti-map-alt align-middle me-2"></i>
											</span>
                <div class="media-body d-inline-block align-middle">
                  <h6 class="mb-0">No. 12, Ribon Building,</h6>
                  <p class="mb-0 mt-1">Walse street, Australia.</p>
                </div>
              </div>
              <!-- Media End -->
            </li>
            <!--Nav Item-->
            <!--Nav Item-->
            <li class="nav-item me-4">
              <!--Media-->
              <div class="media header-info d-inline-block lh-1 align-middle">
											<span class="header-icon theme-color">
												<i class="ti-time align-middle me-2"></i>
											</span>
                <div class="media-body d-inline-block align-middle">
                  <h6 class="mb-0">Monday-Friday: 9am to 5pm</h6>
                  <p class="mb-0 mt-1">Saturday / Sunday: Closed</p>
                </div>
              </div>
              <!-- Media End -->
            </li>
            <!--Nav Item-->
            <!--Nav Item-->
            <li class="nav-item">
              <!--Media-->
              <div class="media header-info d-inline-block lh-1 align-middle">
											<span class="header-icon theme-color">
												<i class="ti-headphone-alt align-middle me-2"></i>
											</span>
                <div class="media-body d-inline-block align-middle">
                  <h6 class="mb-0"><a href="tel:+(528)456-7592" class="mb-0 mt-1">+(528) 456-7592</a></h6>
                  <a href="mailto:info@example.com" class="mb-0 mt-1">info@example.com</a>
                </div>
              </div>
              <!-- Media End -->
            </li>
            <!--Nav Item-->
          </ul>
        </div>
      </div>
    </div>
    <!--Sticky part-->
    <div class="sticky-outer broken-bottom-35">
      <div class="sticky-head">
        <!--Navbar-->
        <nav class="navbar nav-shadow">
          <div class="basic-container clearfix bg-dark">
            <div class="navbar-inner">
              <!--Overlay Menu Switch-->
              <ul class="nav navbar-items pull-left">
                <!--List Item-->
                <li class="list-item">
                  <ul class="nav navbar-main theme-main-menu menu-dark">
                    <li class="active dropdown cus-img-menu dropdown-sub"><a href="index.html">Home</a>
                      <ul class="dropdown-menu mega-dropdown-menu basic-container dropdown-col-5 clearfix">
                        <li class="mega-dropdown-col">
                          <div class="img-menu">
                            <!--News Post-->
                            <div class="img-block">
                              <a href="index.html">
                                <img src="assets/images/screenshot/home-1.jpg" width='400' height='500'
                                     alt="screenshot-img">
                              </a>
                            </div>
                            <div class="title-wrap">
                              <p><a href="index.html" class="mega-menu-title">Home</a></p>
                            </div>
                          </div>
                        </li>
                        <li class="mega-dropdown-col">
                          <div class="img-menu">
                            <!--News Post-->
                            <div class="img-block">
                              <a href="index-2.html">
                                <img src="/assets/images/screenshot/home-2.jpg" width='400' height='500'
                                     alt="screenshot-img">
                              </a>
                            </div>
                            <div class="title-wrap">
                              <p><a href="index-2.html" class="mega-menu-title">Home 2</a></p>
                            </div>
                          </div>
                        </li>
                        <li class="mega-dropdown-col">
                          <div class="img-menu">
                            <!--News Post-->
                            <div class="img-block">
                              <a href="index-3.html">
                                <img src="/assets/images/screenshot/home-3.jpg" width='400' height='500'
                                     alt="screenshot-img">
                              </a>
                            </div>
                            <div class="title-wrap">
                              <p><a href="index-3.html" class="mega-menu-title">Home 3</a></p>
                            </div>
                          </div>
                        </li>
                        <li class="mega-dropdown-col">
                          <div class="img-menu">
                            <!--News Post-->
                            <div class="img-block">
                              <a href="index-4.html">
                                <img src="/assets/images/screenshot/home-4.jpg" width='400' height='500'
                                     alt="screenshot-img">
                              </a>
                            </div>
                            <div class="title-wrap">
                              <p><a href="index-4.html" class="mega-menu-title">Home 4</a></p>
                            </div>
                          </div>
                        </li>
                        <li class="mega-dropdown-col">
                          <div class="img-menu">
                            <!--News Post-->
                            <div class="img-block">
                              <a href="index-5.html">
                                <img src="/assets/images/screenshot/home-5.jpg" width='400' height='500'
                                     alt="screenshot-img">
                              </a>
                            </div>
                            <div class="title-wrap">
                              <p><a href="index-5.html" class="mega-menu-title">Home 5</a></p>
                            </div>
                          </div>
                        </li>
                        <li class="mega-dropdown-col">
                          <div class="img-menu">
                            <!--News Post-->
                            <div class="img-block">
                              <a href="index-6.html">
                                <img src="/assets/images/screenshot/home-6.jpg" width='400' height='500'
                                     alt="screenshot-img">
                              </a>
                            </div>
                            <div class="title-wrap">
                              <p><a href="index-6.html" class="mega-menu-title">Home 6</a></p>
                            </div>
                          </div>
                        </li>
                        <li class="mega-dropdown-col">
                          <div class="img-menu">
                            <!--News Post-->
                            <div class="img-block">
                              <a href="index-7.html">
                                <img src="/assets/images/screenshot/home-7.jpg" width='400' height='500'
                                     alt="screenshot-img">
                              </a>
                            </div>
                            <div class="title-wrap">
                              <p><a href="index-7.html" class="mega-menu-title">Home 7</a></p>
                            </div>
                          </div>
                        </li>
                        <li class="mega-dropdown-col">
                          <div class="img-menu">
                            <!--News Post-->
                            <div class="img-block">
                              <a href="index-8.html">
                                <img src="/assets/images/screenshot/home-8.jpg" width='400' height='500'
                                     alt="screenshot-img">
                              </a>
                            </div>
                            <div class="title-wrap">
                              <p><a href="index-8.html" class="mega-menu-title">Home 8</a></p>
                            </div>
                          </div>
                        </li>
                        <li class="mega-dropdown-col">
                          <div class="img-menu">
                            <!--News Post-->
                            <div class="img-block">
                              <a href="index-9.html">
                                <img src="/assets/images/screenshot/home-9.jpg" width='400' height='500'
                                     alt="screenshot-img">
                              </a>
                            </div>
                            <div class="title-wrap">
                              <p><a href="index-9.html" class="mega-menu-title">Home 9</a></p>
                            </div>
                          </div>
                        </li>
                        <li class="mega-dropdown-col">
                          <div class="img-menu">
                            <!--News Post-->
                            <div class="img-block">
                              <a href="index-onepage.html">
                                <img src="/assets/images/screenshot/home-onepage.jpg" width='400' height='500'
                                     alt="screenshot-img">
                              </a>
                            </div>
                            <div class="title-wrap">
                              <p><a href="index-onepage.html" class="mega-menu-title">Home One Page</a></p>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </li>
                    <li class="dropdown dropdown-sub pos-static icon-hide-1024"><a href="#">Features</a>
                      <ul class="dropdown-menu mega-dropdown-menu basic-container dropdown-col-4 clearfix">
                        <li class="mega-dropdown-col">
                          Pages
                          <ul>
                            <li class="menu-item"><a href="careers.html">Careers</a></li>
                            <li class="menu-item"><a href="coming-soon.html">Coming Soon</a></li>
                            <li class="menu-item"><a href="faq.html">Faq</a></li>
                            <li class="menu-item"><a href="shortcodes.html">Shortcodes</a></li>
                            <li class="menu-item"><a href="testimonials.html">Testimonials</a></li>
                            <li class="menu-item"><a href="404.html">404</a></li>
                          </ul>
                        </li>
                        <li class="mega-dropdown-col">
                          Header
                          <ul>
                            <li class="menu-item"><a href="header1.html">Simple Header</a></li>
                            <li class="menu-item"><a href="header2.html">Shop Header</a></li>
                            <li class="menu-item"><a href="header3.html">Push Menu Header</a></li>
                            <li class="menu-item"><a href="header4.html">Header Center</a></li>
                            <li class="menu-item"><a href="page-title-1.html">Page Title Simple</a></li>
                            <li class="menu-item"><a href="page-title-2.html">Page Title Pattern</a></li>
                          </ul>
                        </li>
                        <li class="mega-dropdown-col">
                          Slider
                          <ul>
                            <li class="menu-item"><a href="revolution-slider-1.html">Revolution Slider 1</a></li>
                            <li class="menu-item"><a href="revolution-slider-2.html">Revolution Slider 2</a></li>
                            <li class="menu-item"><a href="revolution-slider-3.html">Revolution Slider 3</a></li>
                            <li class="menu-item"><a href="revolution-slider-4.html">Revolution Slider 4</a></li>
                            <li class="menu-item"><a href="carousel-slider.html">Carousel Slider</a></li>
                            <li class="menu-item"><a href="videobg-slider.html">Video Background</a></li>
                          </ul>
                        </li>
                        <li class="mega-dropdown-col">
                          <div class="menu-img">
                            <img src="assets/images/about-us/menu-image.png" width='213' height='304'
                                 alt="screenshot-img">
                          </div>
                        </li>
                      </ul>
                    </li>
                    <li class="dropdown menu-item dropdown-sub"><a href="#">About</a>
                      <ul class="dropdown-menu">
                        <li><a href="about-us.html">About Us 1</a></li>
                        <li><a href="about-us-2.html">About Us 2</a></li>
                        <li><a href="about-us-3.html">About Us 3</a></li>
                      </ul>
                    </li>
                    <li class="dropdown menu-item dropdown-sub"><a href="#">Projects</a>
                      <ul class="dropdown-menu">
                        <li><a href="project-classic.html">Project Classic</a></li>
                        <li><a href="project-modern.html">Project Modern</a></li>
                        <li><a href="single-project.html">Project Single</a></li>
                      </ul>
                    </li>
                    <li class="dropdown menu-item dropdown-sub"><a href="services.html">Services</a>
                      <ul class="dropdown-menu">
                        <li><a href="construction-consultant.html">Construction Consultant</a></li>
                        <li><a href="general-contracting.html">General Contracting</a></li>
                        <li><a href="green-house.html">Green House</a></li>
                        <li><a href="house-renovation.html">House Renovation</a></li>
                        <li><a href="metal-roofing.html">Metal Roofing</a></li>
                        <li><a href="tiling-and-painting.html">Tiling And Painting</a></li>
                      </ul>
                    </li>
                    <li class="dropdown menu-item dropdown-sub"><a href="shop.html">Shop</a>
                      <ul class="dropdown-menu">
                        <li><a href="cart.html">Cart</a></li>
                        <li><a href="checkout.html">Checkout</a></li>
                      </ul>
                    </li>
                    <li class="dropdown menu-item dropdown-sub"><a href="#">Blog</a>
                      <ul class="dropdown-menu">
                        <li><a href="blog-grid.html">Blog Grid</a></li>
                        <li><a href="blog-masonry.html">Blog Masonry</a></li>
                        <li><a href="blog-single.html">Blog Single</a></li>
                      </ul>
                    </li>
                    <li class="menu-item"><a href="contact.html">Contact</a></li>
                  </ul>
                </li>
                <!--List Item End-->
              </ul>
              <!-- Menu -->
              <ul class="nav navbar-items pull-right">
                <li class="nav-item">
                  <div class="social-icons typo-white">
                    <a href="#" class="social-fb"><span class="ti-facebook"></span></a>
                    <a href="#" class="social-twitter"><span class="ti-twitter"></span></a>
                    <a href="#" class="social-instagram"><span class="ti-instagram"></span></a>
                    <a href="#" class="social-pinterest"><span class="ti-pinterest"></span></a>
                  </div>
                </li>
                <!--Nav Item-->
                <li class="list-item"><a href="#" class="full-view-switch text-center"><i
                  class="ti-search typo-white"></i></a></li>
                <li>
                  <!--Search-->
                  <div class="full-view-wrapper hide">
                    <a href="#" class="close full-view-close"></a>
                    <form class="navbar-form search-form" role="search">
                      <div class="input-group">
                        <input class="form-control" placeholder="Search hit enter.." name="srch-term" type="text">
                      </div>
                    </form>
                  </div>
                </li>
              </ul>
              <!-- Menu -->
            </div>
          </div>
        </nav>
      </div>
      <!--sticky-head-->
    </div>
    <!--sticky-outer-->
  </div>
</header>
<!-- header -->
