<!-- Main wrapper-->
<div class="page-wrapper">
  <div class="page-wrapper-inner">
    <!-- Page Content -->
    <div class="content-wrapper pad-none">
      <div class="content-inner">
        <section>
          <!--  container  -->
          <div class="container">
          <!--  public-health -->
          <div class="banner-health text-start">
            <!--  container  -->
            <div class="banner-body">
              <!--  title  -->
              <div class="row justify-content-between">
                <div class="col-lg-7 col-sm-12">
                  <h3>Dubai Medical Journals</h3>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and
                    scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into
                    electronic typesetting, remaining essentially unchanged.</p>
                </div>
                <div class="col-lg-4  col-sm-12">
                  <div class="row action justify-content-between  text-end mb-5">
                    <button class="btn btn-primary col-7 start-service">Start Service</button>
                    <button class="btn btn-primary col-2 hart"><i class="fa fa-heart-o fa-2x"></i></button>
                  </div>
                  <div class="row  action-share text-end sm-text-center">
                    <button class="btn btn-primary col action-text action-style"><i class="fa fa-book"></i>Export as PDF
                    </button>
                    <button class="btn btn-primary col action-text action-style"><i class="fa fa-book"></i>xport as XLS
                    </button>
                    <button class="btn btn-primary col action-text action-style"><i class="fa fa-book"></i>Share
                    </button>
                  </div>
                </div>
              </div>
              <!--  title  -->
              <hr>

              <!--  row  -->
              <div class="row">
                <!--  card  -->
                <div class="col-sm-6 col-lg-2">
                  <i class="fa fa-home fa-2x"></i>
                  <h3>Average Processing Time</h3>
                  <p>3 Working days</p>
                </div>
                <!--  card  -->
                <!--  card  -->
                <div class="col-sm-6 col-lg-2">
                  <i class="fa fa-home fa-2x"></i>
                  <h3>Sectors</h3>
                  <p>Lorem lipsum</p>
                </div>
                <!--  card  -->
                <!--  card  -->
                <div class="col-sm-6 col-lg-2">
                  <i class="fa fa-home fa-2x"></i>
                  <h3>Fee Details</h3>
                  <p>Fee</p>
                </div>
                <!--  card  -->
                <!--  card  -->
                <div class="col-sm-6 col-lg-2">
                  <i class="fa fa-home fa-2x"></i>
                  <h3>Who Can Apply</h3>
                  <p>Delegated Healthcare Facility Representatives</p>
                </div>
                <!--  card  -->
                <!--  card  -->
                <div class="col-sm-6 col-lg-2">
                  <i class="fa fa-home fa-2x"></i>
                  <h3>Required Documents</h3>
                  <p>Loremlipsum</p>
                </div>
                <!--  card  -->
                <!--  card  -->
                <div class="col-sm-6 col-lg-2">
                  <i class="fa fa-home fa-2x"></i>
                  <h3>Service Channel</h3>
                  <p>3 Working days</p>
                </div>
                <!--  card  -->
              </div>
              <!--  row  -->
            </div>
            <!--  container  -->
          </div>
          <!--  public-health -->
          </div>
          <!-- contener -->
        </section>
      </div>
    </div>
  </div>
  <!-- .page-wrapper-inner -->
</div>
<!--page-wrapper-->
