.page-bnr{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: auto;

}

.bnr-img{
  width: 100%;
  height:400px;;
  align-self: stretch;
  border-radius: var(--border-radius-medium, 12px);
  background: var(--color-style-gray-400, #CED4DA);
}

.ejada-program,.basma-program{
  padding: 0px !important;
}

.default-sub-page-bnr{
  padding-bottom: 0px !important;
}


.service-img{
  display: flex;
  padding: 0px 100px;
  width: auto;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: var(--border-radius, 10px);
  flex-shrink: 0;
  border-radius: var(--border-radius-medium, 12px);
  border: 1px solid var(--border-color, #E7E7E7);
  background: var(--generic-white, #FFF);
  /* Shadow/Small */
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.03);
}

.service-desc{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
  align-self: stretch;
  justify-content: center !important;
}

.service-footer{
  display: flex;
  padding: 25px 27px;
  align-items: center;
  align-content: center;
  gap: 8px var(--border-radius-small, 8px) !important;
  flex-wrap: wrap;
  border-radius: var(--border-radius, 10px);
  background: var(--Footer-BG, #F5F9F9);
  color: var(--color-style-text-text-primary, #1A1A1A);
}



 span.accordion::before {
  content: "\f105";
  font-family: FontAwesome;
  font-size: 10px;
  float: left;
  margin-top: 4px;
  margin-left: -17px;
  color: #CCCCCC;
}
 .accordion{
   color: var(--grey, var(--grey, #A4A4A4));
   /* Paragraph Medium/regular */
   font-family: Dubai;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px; /* 150% */
 }




.paragraph-primary{
  color: var(--Teal, #008A96);
  font-family: Dubai;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}


.display-medium {
  color: var(--color-style-default-black, #000);

  /* Display Medium/Medium */
  font-family: Dubai;
  font-size: 45px;
  font-style: normal;
  font-weight: 500;
  line-height: 52px; /* 115.556% */
}

.paragraph-medium-regular{
  color: var(--color-style-text-text-primary, #1A1A1A);
  /* Paragraph Medium/regular */
  font-family: Dubai;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.heading-h5-bold{
  color: var(--color-style-default-black, #000);

  /* Heading H5/bold */
  font-family: Dubai;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
}

.heading-h6-medium {
  color: var(--Text-color, var(--Text-color, #18181B));
  /* Heading H6/medium */
  font-family: Dubai;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 140% */
}

.paragraph-large-regular {
  color: var(--color-style-text-text-primary, #1A1A1A);
  /* Paragraph Large/regular */
  font-family: Dubai;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
}

.heading-h3-medium{
  color: var(--color-style-text-text-primary, #1A1A1A);
  /* Heading H3/medium */
  font-family: Dubai;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 125% */

}

.paragraph-large-medium{
  color: var(--color-style-text-text-primary, #1A1A1A);

  /* Paragraph Large/medium */
  font-family: Dubai;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
}
