<!-- Main wrapper-->
<div class="page-wrapper">
  <div class="page-wrapper-inner">
    <!-- Page Content -->
    <div class="content-wrapper pad-none">
      <!-- Page content-inner -->
      <div class="content-inner">
        <!-- section Default-sub-page-Bnr -->
        <section class="default-sub-page-bnr">
          <div class="container">
            <!--  start page-Bnr -->
            <div class="page-bnr">
              <!--  img-page-Bnr -->
              <div class="bnr-img"></div>
              <!--  end-page-Bnr -->
              <!--  bnr-title -->
              <div class="bnr-title">
                <!-- start row -->
                <div class="row">
                  <!-- start col -->
                  <div class="col-md-8">
                    <!-- Media -->
                    <div class="media">
                      <div class="media-body">
                        <div class="feature-content">
                          <div class="feature-title">
                            <h5 class="mb-1 display-medium">Special Programs </h5>
                          </div>
                          <div class="feature-box-content">
                            <p class="mb-0 paragraph-large-regular">The Dubai Health Authority provides specialized programs aimed at providing
                              patients with more intensive care, such as the “Ejada” program, and specialized programs
                              to support patients in accordance with the controls and standards approved by it in this
                              regard, such as the “Basma” program.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Media -->
                  </div>
                  <!-- end col -->
                </div>
                <!-- end row -->
              </div>
              <!--  bnr-title -->
            </div>
            <!--  end page-Bnr -->


          </div>
        </section>
        <!-- section content-inner -->

        <!--  start EJADA Program -->
        <section class="ejada-program">
          <!--  start container -->
          <div class="container">
            <!--  start service-desc -->
            <div class="service-desc margin-top-40">
              <!--  start row -->
              <div class="row ">
                <!-- col service-img -->
                <div class=" col-md-4 mb-4 mb-md-0">
                  <!-- service-img -->
                  <div class="service-img">
                    <div class="about-wrap-inner">
                      <!-- about details -->
                      <div class="about-wrap-details">
                        <!-- about button -->
                        <div class="text-center">
                          <div class="about-img mb-4 mb-md-0">
                            <img src="assets/images/enaya.png" class="" alt="about-img">
                          </div>
                          <!-- .col -->
                        </div>
                      </div>
                      <!-- about details End-->
                    </div>
                  </div>
                  <!-- service-img -->
                </div>
                <!--end  col service-img -->
                <div class="col-md-8 ">
                  <div class="service-desc">
                    <!-- Media -->
                    <div class="media">
                      <div class="media-body">
                        <div class="feature-content">
                          <div class="feature-box-title">
                            <h3 class="heading-h3-medium">EJADA Program</h3>
                          </div>
                          <div class="feature-box-content">
                            <p class="mb-0 paragraph-medium-regular"> It is a mechanism of modern techniques and tools to measure health quality
                              indicators in the Emirate of Dubai for the purpose of providing high-quality services in
                              line with global indicators while reducing expenses and measuring the extent of patient
                              benefit. Recently, work has been done to employ artificial intelligence technology to
                              identify members of society most at risk of contracting diseases before they occur and
                              reduce the complications of the disease in the event of infection.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Media -->
                  </div>

                  <!-- start  service-content -->
                  <div class="service-content row">
                    <div class="col-md-6 mb-0 ">
                      <h3 class="paragraph-large-medium">Among the program's objectives:</h3>
                    </div>
                    <div class="col-md-6 mb-0 ">
                      <h3 class="paragraph-large-medium">The main results expected from the program:</h3>
                    </div>
                  </div>
                  <!-- end  service-content -->

                  <!-- start  service-content -->
                  <div class="service-content row">
                    <div class="col-md-6 mb-0 ">
                      <span class="accordion">Providing high-quality services in line with global indicators while reducing expenses</span>
                    </div>
                    <div class="col-md-6 mb-0 ">
                      <span class="accordion">High quality services at lower expenses.</span>
                    </div>
                  </div>
                  <!-- end  service-content -->
                  <!-- start  service-content -->
                  <div class="service-content row">
                    <div class="col-md-6 mb-0 ">
                      <span class="accordion">Improving the patient's quality of life safely by focusing on health outcomes</span>
                    </div>
                    <div class="col-md-6 mb-0 ">
                      <span class="accordion">Measurements of the extent to which the patient benefits from the health services provided.</span>
                    </div>
                  </div>
                  <!-- end  service-content -->
                  <!-- start  service-content -->
                  <div class="service-content row">
                    <div class="col-md-6 mb-0 ">
                      <span class="accordion">Avoid infecting the group most vulnerable to chronic diseases</span>
                    </div>
                    <div class="col-md-6 mb-0 ">
                      <span class="accordion">Identifying the group most at risk of infection and early intervention to reduce the incidence of chronic diseases.</span>
                    </div>
                  </div>
                  <!-- end  service-content -->
                  <!-- start  service-content -->
                  <div class="service-content row">
                    <div class="col-md-6 mb-0 ">
                      <span class="accordion">Ensuring the patient’s quality of life by preventing or reducing complications of chronic diseases when they occur</span>
                    </div>
                    <div class="col-md-6 mb-0 ">
                      <span class="accordion">Identify patients and reduce the side effects of the disease.</span>
                    </div>
                  </div>
                  <!-- end  service-content -->
                </div>
              </div>
              <!--  end row -->
            </div>
            <!--  end service-desc -->
          </div>
          <!--  end  container -->
        </section>
        <!--  start  EJADA Program -->

        <!--  start BASMA Program -->
        <section class="basma-program margin-bottom-110">
          <!--  start container -->
          <div class="container">
            <!--  start service-desc -->
            <div class="service-desc margin-top-40">
              <!--  start row -->
              <div class="row ">
                <!-- col service-img -->
                <div class=" col-md-4 mb-4 mb-md-0">
                  <!-- service-img -->
                  <div class="service-img">
                    <div class="about-wrap-inner">
                      <!-- about details -->
                      <div class="about-wrap-details">
                        <!-- about button -->
                        <div class="text-center">
                          <div class="about-img mb-4 mb-md-0">
                            <img src="assets/images/enaya.png" class="" alt="about-img">
                          </div>
                          <!-- .col -->
                        </div>
                      </div>
                      <!-- about details End-->
                    </div>
                  </div>
                  <!-- service-img -->
                </div>
                <!--end  col service-img -->
                <div class="col-md-8 ">
                  <div class="service-desc">
                    <!-- Media -->
                    <div class="media">
                      <div class="media-body">
                        <div class="feature-content">
                          <div class="feature-box-title">
                            <h4 class="heading-h3-medium">BASMA Program</h4>
                          </div>
                          <div class="feature-box-content">
                            <p class="mb-0 paragraph-medium-regular"> The “Basma” program was launched in January 2018 to support cancer and
                              hepatitis C patients, with the aim of reducing cancer deaths and ensuring complete
                              recovery from hepatitis C cases in the Emirate of Dubai.
                              In the first phase, the program includes breast cancer, colon cancer, and uterine cancer,
                              which are the most common in the country and are among the types that witness high rates
                              of cure in the case of early detection. And hepatitis C patients (hepatitis B and
                              hepatitis C).</p>
                          </div>
                          <div class="feature-box-content service-footer margin-top-15 ">
                            <p class="mb-0 paragraph-medium-regular">Treatment is provided at <span class="paragraph-primary"> specialized medical service provider centers </span> accredited by the Dubai Health Authority.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Media -->
                  </div>
                  <!-- start  service-content -->
                  <div class="service-content row">
                    <div class="col-md-6 mb-0 ">
                      <span class="accordion">Reducing the death rate through early detection and treatment.</span>
                    </div>
                    <div class="col-md-6 mb-0 ">
                      <span class="accordion">lleviating the social and economic burdens of high-cost diseases.</span>
                    </div>
                  </div>
                  <!-- end  service-content -->
                  <!-- start  service-content -->
                  <div class="service-content row">
                    <div class="col-md-6 mb-0 ">
                      <span class="accordion">Reducing the death rate through early detection and treatment.
Putting an end to the effort to provide the necessary support to patients with cancer, hepatitis, and any other diseases determined in accordance with the mechanism stipulated under this policy and in accordance with the limits of insurance coverage for each member of the program.</span>
                    </div>
                    <div class="col-md-6 mb-0 ">
                      <span class="accordion"> Improving patients' quality of life.</span>
                    </div>
                  </div>
                  <!-- end  service-content -->

                </div>
              </div>
              <!--  end row -->
            </div>
            <!--  end service-desc -->
          </div>
          <!--  end  container -->
        </section>
        <!--  start  BASMA Program  -->


      </div>
      <!-- content-inner -->
    </div>
  </div>
  <!-- .page-wrapper-inner -->
</div>
<!--page-wrapper-->







