<!-- Main wrapper-->
<div class="page-wrapper">
  <div class="page-wrapper-inner">

    <!-- Page Content -->
    <div class="content-wrapper pad-none">
      <!-- Page content-inner -->
      <div class="content-inner">
        <!-- section Default-sub-page-Bnr -->
        <section class="default-sub-page-bnr ">
          <div class="container">
            <!--  start page-Bnr -->
            <div class="page-bnr">
              <!--  img-page-Bnr -->
              <div class="bnr-img"></div>
              <!--  end-page-Bnr -->
              <div class="bnr-title">
                <h5 class=" display-medium"> About Health Tourism</h5>
                <P>Your gateway to high-quality healthcare services and an unparalleled holiday experience in Dubai</P>
              </div>

              <div class="tw-grid tw-grid-cols-1 md:tw-grid-cols-2 lg:tw-grid-cols-3 tw-gap-6 tw-items-start">
                <!-- start overview-->
                <div class="overview tw-col-span-1 lg:tw-col-span-2">
                  <p>
                    Dubai is one of the world’s fastest developing and flourishing cities in the world. The city has
                    become a model of modernity, luxury and prosperity, creating a better future in health. Dubai
                    strives to meet the needs of those searching for an exceptional treatment experience and an ideal
                    healing environment, which promotes the well-being and happiness. <br><br>

                    DHA aims to be a market leader in the field of Health tourism and promote high-quality medical
                    services for elective treatments in niche specialties such as Dental, Ophthalmology, Orthopedic,
                    Fertility, Cosmetic, Gynecology and Wellness along with an unparalleled holiday experience in the
                    world’s most dynamic city, Dubai.<br><br>

                    In April 2016, a star was born: Brand Dubai Health Experience (DXH) was launched under Dubai Health
                    Authority (DHA), a government entity that oversees Dubai’s health sector, to put healthcare at the
                    heart of Dubai’s lifestyle experience, giving health travelers an unforgettable voyage across an
                    impressive spectrum of premier accredited clinics and hospitals. The Health Tourism Department,
                    under DHA is responsible for planning, supervising and developing the Health Tourism ecosystem in
                    Dubai. It is dedicated to work in collaborations with public and private sector to promote Dubai as
                    a global health tourism destination. Dubai Health Experience allows you to fully ‘Embrace Life’ with
                    advanced and comprehensive.
                  </p>
                </div>
                <!-- end overview-->
                <div class="tw-col-span-1 right-bar">


                  <div class="tw-grid tw-grid-rows-1 tw-gap-4">
                    <!-- start pdf-download-->
                    <div class="pdf-download tw-grid tw-grid-rows-2 tw-grid-flow-col tw-gap-1 tw-px-0 md:tw-px-6">
                      <div class="tw-row-span-2"><i class="fa fa-file-pdf-o fa-3x"></i></div>
                      <div class="tw-col-span-4 ">DXH Brochure</div>
                      <div class="tw-row-span-1 tw-col-span-4">140 KB / PDF</div>
                    </div>
                    <!-- end pdf-download-->
                    <div class="view-spec">View Specialties</div>
                  </div>


                </div>

              </div>

            </div>
            <!--  end page-Bnr -->
            <!--  start card section -->

          </div>
        </section>
        <!-- section content-inner -->


      </div>
      <!-- content-inner -->
    </div>
  </div>
  <!-- .page-wrapper-inner -->
</div>
<!--page-wrapper-->
