<!-- Footer -->
<footer id="footer" class="footer footer-1 footer-bg-img" data-bg="/assets/images/bg/footer-bg.jpg">
  <!--Footer Widgets Columns Posibilities 4-->
  <div class="footer-widgets">
    <div class="footer-middle-wrap full-dark">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 widget text-widget">
            <div class="widget-title">
              <!-- Title -->
              <h3 class="title typo-white">About Metal</h3>
            </div>
            <!-- Text -->
            <div class="widget-text margin-bottom-15">
              <p>Metal is a mobile friendly business template specially designed.</p>
            </div>
            <nav>
              <ul class="contact-info">
                <!-- List Items -->
                <li>
                  <i aria-hidden="true" class="ti-location-pin theme-color"></i> <span> No. 12, Ribon Building,
Walse street, Australia.</span>
                </li>
                <li>
                  <i aria-hidden="true" class="ti-email theme-color"></i>
                  <a href="mailto:info@zozothemes.com"> info@zozothemes.com</a>

                </li>
                <li>
                  <i aria-hidden="true" class="ti-headphone theme-color"></i> <a href="tel:+(123) 456-7890"> +(123)
                  456-7890</a>
                </li>
              </ul>
            </nav>
          </div>
          <!-- Col -->
          <div class="col-lg-3 widget text-widget">
            <div class="widget-title">
              <!-- Title -->
              <h3 class="title typo-white">Services</h3>
            </div>
            <!-- Text -->
            <div class="menu-quick-links">
              <ul class="menu">
                <li class="menu-item"><a href="general-contracting.html">General Contracting</a></li>
                <li class="menu-item"><a href="construction-consultant.html">Construction Consultant</a></li>
                <li class="menu-item"><a href="house-renovation.html">House Renovation</a></li>
                <li class="menu-item"><a href="metal-roofing.html">Metal Roofing</a></li>
                <li class="menu-item"><a href="green-house.html">Green House</a></li>
              </ul>
            </div>
          </div>
          <!-- Col -->
          <div class="col-lg-3 widget recent-posts">
            <div class="widget-title">
              <!-- Title -->
              <h3 class="title typo-white">Working Hours</h3>
            </div>
            <nav>
              <ul class="contact-info">
                <!-- List Items -->
                <li class="mb-0">
                  <i aria-hidden="true" class="ti-time theme-color"></i> <span> Monday-Thursday: 9am to 5pm</span>
                </li>
                <li class="mb-0">
                  <i aria-hidden="true" class="ti-time theme-color"></i> <span> Friday : 9am to 3pm</span>
                </li>
                <li class="mb-0">
                  <i aria-hidden="true" class="ti-time theme-color"></i> <span> Saturday : 9am to 1pm</span>
                </li>
                <li class="mb-0">
                  <i aria-hidden="true" class="ti-time theme-color"></i> <span> Sunday : Closed</span>
                </li>
              </ul>
            </nav>
            <div class="footer-counter counter-value mt-3">
              <h4><span class="counter-suffix">Total Projects : </span><span class="counter-up typo-white"
                                                                             data-count="3550">0</span></h4>
            </div>
            <div class="footer-counter counter-value">
              <h4><span class="counter-suffix">Happy Clients : </span><span class="counter-up typo-white"
                                                                            data-count="2550">0</span></h4>
            </div>
          </div>
          <!-- Col -->
          <div class="col-lg-3 widget contact-info-widget">
            <div class="widget-title">
              <!-- Title -->
              <h3 class="title typo-white">Social & Newsletter</h3>
            </div>
            <h4 class="margin-bottom-10 typo-white">Follow Us On</h4>
            <div class="social-icons mb-3">
              <a href="#" class="social-fb"><span class="ti-facebook"></span></a>
              <a href="#" class="social-twitter"><span class="ti-twitter"></span></a>
              <a href="#" class="social-instagram"><span class="ti-instagram"></span></a>
              <a href="#" class="social-pinterest"><span class="ti-pinterest"></span></a>
              <a href="#" class="social-youtube"><span class="ti-youtube"></span></a>
            </div>
            <h4 class="margin-bottom-10 typo-white">Subscribe to Our Newsletter</h4>
            <div class="mailchimp-widget-wrap">
              <!-- subscribe form -->
              <form id="subscribe-form-1" class="subscribe-form" action="inc/function.php">
                <div class="input-group add-on">
                  <input type="text" class="form-control" name="mcemail" autocomplete="off" id="mcemail-1"
                         placeholder="Email Address">
                  <div class="input-group-btn">
                    <button class="btn btn-default subscribe-btn" type="submit"><i class="ti-email"></i></button>
                  </div>
                </div>
                <p class="subscribe-status-msg hide"></p>
              </form>
            </div>
          </div>
          <!-- Col -->
        </div>
      </div>
    </div>
  </div>
  <!--Footer Copyright Columns Posibilities 4-->
  <div class="footer-copyright">
    <div class="footer-bottom-wrap pad-tb-20 typo-white">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul class="footer-bottom-items pull-left">
              <li class="nav-item">
                <div class="nav-item-inner">
                  Copyrights © 2023 <a href="https://zozothemes.com/html/metal/index.html">Metal</a>. Designed by <a
                  href="https://zozothemes.com/">Zozothemes</a>
                </div>
              </li>
            </ul>
            <ul class="footer-bottom-items footer-menu pull-right">
              <li class="nav-item">
                <a href="#">Terms of Use</a>
              </li>
              <li class="nav-item">
                <a href="#">Privacy Policy</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer -->
